---
---
<html>
	<head>
		<title>{{ site.title }}</title>
		<link href='http://fonts.googleapis.com/css?family=Noticia+Text' rel='stylesheet'>
		<link href="application.css" rel="stylesheet">
	</head>
	<body>
		<header>
			<h1>{{ site.title }}</h1>
			<h2>{{ site.subtitle }}</h2>
			<nav>
				<a href="#">Tweet</a> | <a href="#">Tweet</a> | <a href="#">Tweet</a>
			</nav>
		</header>
		<main>
			{% include express.ext %}
			{% include express.ext %}
			{% include express.ext %}
		</main>
		<script src="application.js"></script>
	</body>
</html>