---
---
<html>
	<head>
		<title>{{ site.title }}</title>
		<link href='http://fonts.googleapis.com/css?family=Noticia+Text' rel='stylesheet'>
		<link href="style.css" rel="stylesheet">
	</head>
	<body>
		<header>
			<h1>{{ site.title }}</h1>
			<h2>{{ site.subtitle }}</h2>
			<nav>
				<a href="#">Tweet</a> | <a href="#">Tweet</a> | <a href="#">Tweet</a>
			</nav>
		</header>
		<main>
			<ul>
				<li>
					{% include express.ext %}
				</li>
				<li>
					{% include express.ext %}
				</li>
				<li>
					{% include express.ext %}
				</li>
			</ul>
		</main>
	</body>
</html>