.box {
	background-color: #EEE;
	border: 1px solid #DDD;
	margin: 10px auto;
	width: 640px;
	height: auto;
	display: block;
}
.box__header {
	height: auto;
	border-bottom: 1px solid #DDD;
	padding: 2.5px;
}

.box__header:hover,
.box__header:focus {
	background: #DDD;
	cursor: pointer;
}

.box__header h1 {
	font-size: 1.75em;
	text-align: left;
	margin-left: 20px;
}

.box__main {
	padding: 5px;
	display: none;
}

.box__content {
	display: inline;
	word-wrap: break-word;
}

.box__aside {
	text-align: right;
}